* {
  border: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}
.navbar {
  background-color: #91c120;
  border-bottom: 5px solid rgb(34, 34, 160);
  font-weight: bolder;
  margin: 0 0 40px 0;
}

.navbar .nav-item {
  margin: 0 40px;
}

.navbar .nav-link:hover {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); /* Ajusta los valores según tus necesidades */
}

header img {
  width: 100%;
}

.logoHeader {
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin: 20px 40px;
  z-index: 2;
  position: absolute;
  right: 0;
  display: flex;
  align-self: center;
}

h1 {
  text-align: center;
  background-color: rgb(38, 38, 180);
  padding: 30px;
  margin: 0 0 40px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-style: italic;
  color: rgb(255, 255, 255);
}

.container {
  background-color: rgb(211, 211, 211);
  border: 2px solid rgb(105, 105, 105);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  margin: 30px;
}

.card {
  margin: 10px 0px;
  border: 2px solid rgb(105, 105, 105) !important;
  border-radius: 20px !important;
}

.card img {
  margin: 10px;
  border-radius: 10px;
}

.btn-primary {
  display: flex;
  float: right;
}

footer {
  background-color: #91c120;
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  border-top: 5px solid rgb(30, 30, 145);
  flex-direction: row !important;
  margin: 0;
}

footer p {
  font-size: large;
}
