* {
  border: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  /*font-family: "Space Mono", monospace;*/
}
.navbar {
  background: #91c120 !important;
  border-bottom: 2px solid rgb(30, 30, 145);
  font-weight: bolder;
}
.navbar .nav-item {
  margin: 0 50px; /* Ajusta el valor según tus necesidades */
}

header img {
  width: 100%;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

section .card {
  border: 8px solid #91c120;
  padding: 5px;
  background-color: rgb(211, 211, 211);
}

section h1 {
  text-align: center;
  margin: 60px;
}

.blueDecoration {
  background-color: rgb(30, 30, 145);
  height: 200px;
  width: 100%;
  z-index: -1;
  position: absolute;
  display: flex;
  align-self: center;
}
